.description {
  text-align: center;
  color: brown;
  margin-top: 150px;
}

.description h3 {
  font-size: 60px;
  font-weight: 700;
}

.description p {
  font-size: 40px;
  font-weight: 300;
  color: white;
}

#user {
background-color: black;
  border: 1px solid brown;
  color: white;
  font-family: fantasy;
  padding: 15px;
  display: inline-block;
  margin-right: 5px;
}

#repo {
  background-color: black;
    border: 1px solid brown;
    color: white;
    font-family: fantasy;
    padding: 15px;
    display: inline-block;
    margin-right: 5px;
  }